@font-face {
    font-family: PlusJakartaSans-reg;
    src: url('font/PlusJakartaSans-Regular.ttf');
}

@font-face {
    font-family: PlusJakartaSans-bold;
    src: url('font/PlusJakartaSans-Bold.ttf');
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

b { font-family: PlusJakartaSans-bold; }

body {
    margin: 0;
    font-family: PlusJakartaSans-reg;
    color: #272727;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1310px;
}

.main_content {
    padding: 0 10%;
}

.navbar {
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 0;
}

.navbarhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #272727;
}

.logo {
    width: 100px;
    margin-left: 10vw;
}

.hamb_icon {
    cursor: pointer;
    background-color: white;
    padding: 30px;
    margin-right: 5vw;
    border: 0;
}

.hamb_line {
    background-color: #272727;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;
}
.hamb_line::before, .hamb_line::after{
    background-color: #272727;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.hamb_line::before{
    top: 8px;
}
.hamb_line::after{
    top: -8px;
}

#navbar_menus {
    position: sticky;
    display: none;
    flex-direction: column;
    background-color: whitesmoke;
}

#navbar_menus > a {
    padding: 20px;
    text-decoration: none;
    color: #272727;
}

#navbar_menus > a:hover {
    background-color: #FFC83D;
}

#home {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emoji{
    margin: 0;
    font-size: 2rem;
}

.hello {
    width: fit-content;
    border-bottom: 2px dashed #5c5b5b;
    padding-bottom: 13px;
}

.summary {
    color: #707070;
    text-align: left;
    margin-bottom: 30px;
}

.cv {
    text-decoration: none;
    background-color: #FFC83D;
    color: #272727;
    border-radius: 10px;
    padding: 10px;
}

.myphoto {
    display: none;
}

.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid #5c5b5b;
}

.head-title {
    font-size: 1.5rem;
    margin-left: 15px;
}

.content-about {
	width: 100%;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.head_content_about {
	font-size: 1.2rem;
	font-weight: bold;
	width: fit-content;
	border-bottom: 2px dotted #5c5b5b;
	padding-bottom: 5px;
    margin-top: 20px;
}

.item_content_about {
	margin: 10px 0;
	line-height: 1.6;
	font-size: 0.85rem;
}

.item_content_about > span, span.course{
    color: #707070;
}

.item_content_about > span{
    display: inline-block;
}

.item_content_about > span.title, span.course{
    display: block;
}

.item_content_about > span.title{
    color: #272727;
    font-family: PlusJakartaSans-bold;
}

.item_content_about > span.course{
    font-style: italic;
}

.icon_skill {
    margin: 5px 3px;
    width: 30px;
}

.content_contact {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 0.85rem;
    font-family: PlusJakartaSans-bold;
}

.content_contact > #getintouch {
    margin-bottom: 15px;
}

.item_content_contact {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.icon_contact {
    margin-right: 20px;
    width: 40px;
}

.item_content_contact > a {
    text-decoration: none;
    color: #272727;
}

.item_content_contact > a:hover {
    text-decoration: underline;
    color: blue;
}

.item_content_contact > #icon_link {
    width: 0.85rem;
}

.timeline {
    width: 100%;
}

/* vertical line */
.timeline > ul > li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0;
    padding-top: 50px;
    background: #FFC83D;
}

/* first vertical line */
.timeline > ul > li:first-child {
    padding-top: 0;
}

/* circle */
.timeline > ul > li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFC83D;
    z-index: 1;
}

/* first circle */
.timeline > ul > li:first-child:after {
    top: -5px;
}


.timeline > ul > li > .isitimeline {
    position: relative;
    bottom: 0;
    padding: 10px;
    width: fit-content;
    border: 5px solid #FFC83D;
    border-radius: 5px;
    left: 40px;
}

/* triangle */
.timeline > ul > li > .isitimeline::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    left: -20px;
    border-width: 8px 20px 8px 0;
    border-color: transparent #FFC83D transparent transparent;
}

/* first triangle */
.timeline > ul > li:first-child > .isitimeline::before {
    top: 0;
}

@media screen and (min-width: 768px) {
    .hamb_icon {
        display: none;
    }

    .navbarhead {
        border-bottom: 0;
    }

    .navbar {
        flex-direction: row;
        border-bottom: 1px solid #272727;
        justify-content: space-between;
    }

    .logo {
        margin-left: 6vw;
    }

    #navbar_menus {
        display: flex;
        flex-direction: row;
        background-color: white;
        margin-right: 6vw;
    }

    .summary {
        font-size: 1.2rem;
    }

    .item_content_about {
        font-size: 1rem;
    }

    .content_contact {
        font-size: 1rem;
    }

    .item_content_contact > #icon_link {
        width: 1rem;
    }

    .icon_contact {
        width: 50px;
    }
}

@media screen and (min-width: 1100px) {
    .logo {
        margin-left: 10vw;
    }
    #navbar_menus {
        margin-right: 10vw;
    }

    .myphoto {
        display: block;
        width: 360px;
        margin-left: 8%;
        border: 1px solid #272727;
        border-radius: 40px;
    }
    
    .content-about {
        flex-direction: row;
    }

    .edu_courses, .skills {
        width: 47%;
    }
}