@font-face {
    font-family: PlusJakartaSans-reg;
    src: url('font/PlusJakartaSans-Regular.ttf');
}

@font-face {
    font-family: PlusJakartaSans-bold;
    src: url('font/PlusJakartaSans-Bold.ttf');
}

b { font-family: PlusJakartaSans-bold; }

body {
    margin: 0;
    font-family: PlusJakartaSans-reg;
    color: #272727;
    background-color: white;
}

main {
    margin-top: 40px;
    padding: 0px 7%;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: white;
    position: fixed;
    top: 0;
    box-sizing: border-box;
}

.navbarhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #272727;
}

.logo {
    box-sizing: border-box;
    width: 100px;
    margin-left: 10vw;
}

.hamb_icon {
    cursor: pointer;
    background-color: white;
    padding: 30px;
    margin-right: 5vw;
    border: 0;
}

.hamb_line {
    background-color: #272727;
    display: block;
    height: 3px;
    position: relative;
    width: 24px;
}
.hamb_line::before, .hamb_line::after{
    background-color: #272727;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.hamb_line::before{
    top: 8px;
}
.hamb_line::after{
    top: -8px;
}


#navbar_menus {
    display: none;
    flex-direction: column;
    background-color: whitesmoke;
}

#navbar_menus > a {
    padding: 20px;
    text-decoration: none;
    color: #272727;
}

#navbar_menus > a:hover {
    background-color: #FFC83D;
}



#home {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.emoji{
    margin: 0;
    font-size: 2em;
}

.hello {
    width: fit-content;
    border-bottom: 2px dashed #5c5b5b;
    padding-bottom: 13px;
}

.summary {
    color: #707070;
    text-align: left;
    margin-bottom: 30px;
}

.cv {
    text-decoration: none;
    background-color: #FFC83D;
    color: #272727;
    border-radius: 10px;
    padding: 10px;
}

.myphoto {
    display: none;
}

.head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid #5c5b5b;
}

.head-title {
    font-size: 1.2em;
    margin-left: 15px;
}

.content-about {
    
}


@media screen and (min-width: 1024px) {
    .hamb_icon {
        display: none;
    }

    .navbarhead {
        border-bottom: 0;
    }

    .navbar {
        flex-direction: row;
        border-bottom: 1px solid #272727;
        justify-content: space-between;
    }

    #navbar_menus {
        display: flex;
        flex-direction: row;
        background-color: white;
        margin-right: 10vw;
    }

    .myphoto {
        display: block;
        width: 30vw;
        margin: 0px 60px;
        border: 1px solid #272727;
        border-radius: 40px;
    }

    .summary {
        font-size: 1.2em;
    }

}